includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    level: max

    tmpDir: .phpstan.cache

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - identifier: property.defaultValue
          path: app/Models/Tenant/Branch.php
        - identifier: argument.type
          path: app/Providers/TenancyServiceProvider.php
